{:kotoba.app/id "cloud.itonami.isic-8412", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifhp7osuvg6jszej3t67h6loi2oxlb5qtzwrmvidb7h6s262x2kh4", :kotoba.app/embed-url "ipfs://bafkreifhp7osuvg6jszej3t67h6loi2oxlb5qtzwrmvidb7h6s262x2kh4", :published {:archive "https://kotobase.net/ipfs/bafkreifhp7osuvg6jszej3t67h6loi2oxlb5qtzwrmvidb7h6s262x2kh4", :size 72276, :put-status 201, :get-status 200, :at "2026-08-15T13:33:38.821Z"}}
